<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.duol.union.dao.AdviceDao">
    <select id="queryAdviceList" resultType="Advice">
        SELECT * FROM db_union.tb_advice
        ORDER BY advice_id ASC ;
    </select>

    <select id="queryAdviceById" resultType="Advice">
        SELECT * FROM db_union.tb_advice
        WHERE advice_id=#{adviceId};
    </select>


    <delete id="deleteAdviceById">
        DELETE FROM db_union.tb_advice WHERE advice_id=#{adviceId}
    </delete>

</mapper>