<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.duol.union.dao.UserDao">
    <select id="queryUserList" resultType="User">
        SELECT user_id,user_pass,user_name FROM tb_user;
    </select>

    <select id="queryUserById" resultType="User">
        SELECT user_id,user_pass,user_name FROM tb_user
        WHERE user_id=#{userId};
    </select>

    <delete id="deleteUserById">
        DELETE FROM tb_user WHERE user_id=#{userId};
    </delete>

    <insert id="insertUser">
        insert into tb_user (user_id) values (#{userId});
    </insert>

    <update id="updateUserPassword">
        UPDATE tb_user SET user_pass=#{userPass} WHERE user_id=#{userId};
    </update>

    <update id="updateUserName">
        UPDATE tb_user SET user_name=#{userName} WHERE user_id=#{userId};
    </update>

    <update id="updateUser">
        UPDATE tb_user SET user_pass=#{userPass},user_name=#{userName} WHERE user_id=#{userId};
    </update>
</mapper>